Wasp Trap/Thread_Library.scad
Wasp Trap/canning_jar_fruit_fly_trap.scad
Wasp Trap/canning_jar_lids.scad
Wasp Trap/canning_jar_lids.stl
Wasp Trap/cap.stl
Wasp Trap/hood.stl
Wasp Trap/insert.stl
*.gcode
